{% load i18n %}
{% load widget_tweaks %}

<c-table.container id="faculties-table">

  <c-slot name="filters">
    {% include 'apps/faculties/partials/table/filters.html' %}
  </c-slot>

  <c-slot name="table">

    <form 
    hx-get="{% url 'faculties:bulk' %}" 
    hx-swap="innerHTML"
    hx-include="[data-include]"
    x-data="{ selectedRows: [] }">

      <c-table.table>

        <c-slot name="headers">
          {% include 'apps/faculties/partials/table/headers.html' %}
        </c-slot>

        <c-slot name="tbody">
          {% include 'apps/faculties/partials/table/body.html' %}
        </c-slot>

      </c-table.table>

    </form>

  </c-slot>

  <c-slot name="pagination">
    {% include 'apps/faculties/partials/table/pagination.html' %}
  </c-slot>

</c-table.container>