django
django-extensions
django-filter
django-cotton==0.9.21
django-htmx
django-querycount
django-excel-response
whitenoise
blacknoise
uvicorn
six
httpx
selectolax
python-dotenv
openpyxl
psycopg2-binary