{% load i18n %}

<c-table-container id="faculties-table">

  <c-slot name="filters">
    <form
      id="faculty-filter-form"
      hx-get="{% url 'faculties:index' %}"
      hx-target="#container"
      hx-select="#container"
      hx-swap="outerHTML"
      data-include
    >
      {{ filter }}
    </form>
  </c-slot>

  <c-slot name="table">

    <form 
    hx-post="{% url 'faculties:bulk-delete' %}" 
    hx-swap="innerHTML"
    hx-include="[data-include]"
    hx-confirm="{% translate 'are sure you want to delete all selected objects?'|title %}"
    hx-disinherit="hx-confirm"
    x-data="{ selectedRows: [] }"
    data-hit-messages>

      <script type="module">
        import { addHitMessagesEventListeners } from '../static/js/main.js';
        addHitMessagesEventListeners();
      </script>

      <c-table>
        
        <c-slot name="headers">

          <tr>

            <input type="hidden" id="page" name="page" value="{{ page_obj.number }}" />
            
            <th>
              <input 
              @change="
              let isChecked = $event.target.checked;
              let rowsChecks = document
                              .querySelectorAll(
                                `td[id^='check'] input[type='checkbox']`
                              );
              rowsChecks.forEach(el => {
                el.checked = isChecked;
                let tdId = el.parentElement.parentElement.getAttribute('id');
                if (isChecked) {
                  selectedRows.push(tdId);
                } else {
                  selectedRows = [];
                }
              });
              "
              class="accent-orange-600" 
              type="checkbox">
            </th>
            <th>{% translate 'name' %}</th>
            <th>{% translate 'actions' %}</th>

          </tr>

          <tr 
          x-cloak 
          x-transition.duration.300 
          x-show="selectedRows.length">
            <th colspan="3">
              <p class="font-light text-left p-2 text-sm">
                <span class="font-semibold" x-text="selectedRows.length"></span>
                <span>{% translate 'selected objects' %}</span>
                <input class="underline hover:font-semibold" type="submit" name="delete" value="{% translate 'delete'|title %}" role="button" title="{% translate 'delete'|title %}" />
              </p>
            </th>
          </tr>

        </c-slot>

        <c-slot name="tbody">

          {% for faculty in formset.forms %}
          <tr id="faculty-{{ faculty.instance.pk }}" class="fade-animation">
            <td id="check-{{ faculty.instance.pk }}">{{ faculty }}</td>
            <td>{{ faculty.instance.name }}</td>
            <td>
              <c-context class="right-[calc(100%+4px)] bottom-2 min-w-[100px]">
                <c-context-item
                  hx-get="{{ faculty.instance.get_delete_path }}"
                  hx-target="#modal"
                  hx-swap="innerHTML"
                  hx-include="#page"
                  @click="modalOpen = true"
                  >{% translate 'delete' %}</c-context-item
                >
                <c-context-item>
                  <a class="block" href="{{ faculty.instance.get_update_path }}">
                    {% translate 'update' %}
                  </a>
                </c-context-item>
              </c-context>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3" class="text-left font-semibold tracking-tight capitalize">
              {% translate 'no results' %}
            </td>
          </tr>
          {% endfor %}

        </c-slot>

      </c-table>

    </form>

  </c-slot>

  <c-slot name="pagination">
    <c-pagination
      url="{% url 'faculties:index' %}"
      target="#faculties-table"
      include="[data-include]"
    >
      <c-excel-export-btn
        hx-post="{% url 'faculties:index' %}"
        hx-include="#faculty-filter-form"
      ></c-excel-export-btn>
      <a
        role="button"
        title="{% translate 'add new record'|title %}"
        class="bx bx-plus btn-icon"
        href="{% url 'faculties:add' %}"
      ></a>
      {{ pagination_form }}
    </c-pagination>
  </c-slot>

</c-table-container>