{% load i18n %}

<form
hx-post="{{ instance.get_update_path }}"
hx-target="this"
hx-swap="outerHTML"
data-hit-messages
>

    <div class="form">
        {{ form }}
    </div>

    <div class="mt-8 flex items-center justify-end gap-2">

        <input 
        role="button"
        type="submit" 
        class="btn btn-primary" 
        title="{% translate 'update'|title %}"
        name="update" value="{% translate 'update' %}"/>

        <button
        hx-delete="{{ instance.get_update_path }}"
        hx-target="closest form"
        hx-swap="outerHTML"
        class="btn btn-secondary"
        title="{% translate 'reset'|title %}"
        >
            <i class="bx bx-reset text-lg"></i>
            <span>{% translate 'reset' %}</span>
        </button>

    </div>

</form>

<script type="module">
    import { addHitMessagesEventListeners } from '../../../static/js/main.js';
    addHitMessagesEventListeners();
</script>
