{% load i18n %}

<ul class="flex items-center justify-center gap-1">
    <template 
    x-for="(breadCrumb, idx) in breadCrumbs"
    :key="breadCrumb.text">
        <li class="flex items-center gap-1">

            <template x-if="idx !== breadCrumbs.length - 1">
            <a 
                class="capitalize font-semibold hover:underline text-orange-500 duration-150 text-sm tracking-tight" 
                :href="breadCrumb.href"
                x-text="breadCrumb.text + '  {% translate '>' %}  '">
            </a>
            </template>

            <template x-if="idx === breadCrumbs.length - 1">
                <span 
                class="capitalize font-semibold text-sm tracking-tight" 
                x-text="breadCrumb.text"></span>
            </template>

        </li>
    </template>
</ul>