{% load i18n %}

<header
  class="sticky top-4 left-0 mx-4 md:mx-auto max-w-[767px] p-4 shadow-md rounded-lg bg-white z-40"
  @click.outside="asideOpen = false"
>
  <nav class="flex items-center justify-between">

    <ul>

      <li>
        <c-btns.icon
          role="button"
          @click="asideOpen = true"
        >
          <c-icons.bars ratio="1rem"></c-icons.bars>
        </c-btns.icon>
      </li>
      
    </ul>

    <c-layout.breadcrumb></c-layout.breadcrumb>

    <c-context.user></c-context.user>

  </nav>

  {{ slot }}
</header>
