{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ instance.name }}{% endblock %}

{% block body %}

    <template 
    x-init="let hrefs = [
        {
            text: '{% translate 'faculties' %}', 
            href: '{% url 'faculties:index' %}'
        },
        {
            text: '{{ instance.name }}', 
            href: '{% url 'faculties:add' %}'
        },
    ];
    breadCrumbs = [...breadCrumbs, ...hrefs]"
    ></template>

    <h1 class="text-4xl font-semibold tracking-tighter capitalize my-4">
        {{ instance.name }}
    </h1>

    {% include 'apps/faculties/partials/update-form.html' %}

{% endblock %}