{% load i18n %}

{% if can_delete or can_update %}
<c-context.context class="right-[calc(100%+4px)] bottom-2 min-w-[100px]">

  {% if can_delete %}
  <c-context.btn
      hx-get="{{ form.instance.get_delete_path }}"
      hx-vals="js:{page: '{{ page_obj.number }}'}"
      hx-target="#modal"
      hx-swap="innerHTML"
      @click="modalOpen = true">
      {% translate 'delete' %}
  </c-context.btn>
  {% endif %}

  {% if can_update %}
  <c-context.btn 
  href="{{ form.instance.get_update_path }}"
  datatype="href">
      {% translate 'update' %}
  </c-context.btn>
  {% endif %}

</c-context.context>
{% endif %}