{% load i18n %}

<tr>

    {% if perms.faculties.delete_faculty %}
        <c-table.th>
        <c-table.check-all></c-table.check-all>
        </c-table.th>
    {% endif %}

    <c-table.th>{% translate 'name' %}</c-table.th>

    {% if perms.faculties.delete_faculty or perms.faculties.change_faculty %}
        <c-table.th>{% translate 'actions' %}</c-table.th>
    {% endif %}

</tr>

{% if perms.faculties.delete_faculty %}

  <tr x-transition.duration.300 x-cloak x-show="selectedRows.length">
    
    <c-table.th colspan="3">

      <p class="font-light text-left p-2 text-sm">

        <span 
        class="font-semibold" 
        x-text="selectedRows.length"></span>

        <span>{% translate 'selected objects' %}</span>

        <c-table.unselect-all></c-table.unselect-all>

        {% if perms.faculties.delete_faculty %}
        <input 
        type="submit" 
        role="button" 
        class="underline hover:font-semibold"
        name="bulk_delete"
        @click="modalOpen = true"
        value="{% translate 'delete'|title %}" 
        title="{% translate 'delete'|title %}" />
        {% endif %}

      </p>

    </c-table.th>
  </tr>
{% endif %}