{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en" dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="{% static 'js/alpine.min.js' %}" defer></script>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script type="module" src="{% static 'js/main.js' %}" defer></script>

    {% block styles %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

  </head>

  <body hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }' hx-indicator="#spinner">

      <div class="realtive" id="app"
        x-init="
        urls.map(el => {
          return location.pathname.startsWith(el.url) 
                    ? el.isActive = true 
                    : el.isActive = false;
        });
        "
        x-data="{
          asideOpen: false, 
          modalOpen: true,
          breadCrumbs: [
              {
                text: '{% translate 'home' %}', 
                href: '{% url 'base:index' %}'
              },
          ],
          urls: [
            {% if perms.faculties.view_faculty %}
              {
                text: '{% translate 'faculties' %}', 
                url: '{% url 'faculties:index' %}', 
                isActive: false,
              },
            {% endif %}
          ]
        }"
      >

        <span class="hidden" id="no-content"></span>
        <div id="modal"></div>
        <c-layout.messages></c-layout.messages>
        
        <c-layout.header>
          <c-layout.aside></c-layout.aside>
        </c-layout.header>
        
        <main class="relative p-4 pt-8 mb-12 mx-auto w-[min(100%,1000px)] min-h-[calc(100vh-10rem)]">
          <c-layout.spinner></c-layout.spinner>
          {% block body %}{% endblock %}
        </main>
        
        <c-layout.footer></c-layout.footer>

      </div>

      {% block scripts %}{% endblock %}

  </body>

</html>