{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en" dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="{% static 'js/alpine.min.js' %}" defer></script>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script type="module" src="{% static 'js/main.js' %}" defer></script>

    <style>
      [x-cloak] {
        display: none;
      }
    </style>

    {% block styles %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

  </head>

  <body hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>

    <div 
      id="app"
      x-data="{
        asideOpen: false, 
        modalOpen: true,
        breadCrumbs: [
            {
              text: '{% translate 'home' %}', 
              href: '{% url 'base:index' %}'
            },
        ],
      }" 
      class="realtive"
    >

      <span class="hidden" id="no-content"></span>
      <c-layout.messages></c-layout.messages>
      <div id="modal"></div>

      <c-layout.header>
        <c-layout.aside></c-layout.aside>
      </c-layout.header>

      <main 
      class="p-4 pt-8 mb-12 mx-auto w-[min(100%,1000px)] min-h-[calc(100vh-10rem)]">
        {% block body %}{% endblock %}
      </main>
      
      <c-layout.footer></c-layout.footer>

    </div>

    {% block scripts %}{% endblock %}

  </body>

</html>