<div class="relative inline-block" x-data="{openContext: false}">
  <i
    @click="openContext = true"
    role="button"
    :class="openContext && 'bg-slate-200'"
    class="bx bx-dots-vertical-rounded btn-icon"
  ></i>
  <ul
    role="menu"
    x-show="openContext"
    @click.outside="openContext = false"
    x-transition
    x-cloak
    class="divide-y divide-slate-100 rounded-lg overflow-hidden py-1 absolute right-[calc(100%+4px)] bottom-2 min-w-[100px] bg-white border border-slate-100 shadow-md z-10"
  >
    {{ slot }}
  </ul>
</div>
