{% load i18n %}

<div 
x-data='{open: false}' 
@click="open = true"
:class="open && 'bg-slate-50'"
class="relative select-none rounded-lg p-2 hover:bg-slate-50 duration-150" 
role="button"
>

    <div 
    class="flex items-center justify-center gap-1">
        <span class="capitalize text-sm font-semibold">{{ request.user.username }}</span>
        <i 
        :class="open && 'rotate-180'" 
        class='bx bxs-chevron-down text-xl duration-150'></i>
    </div>

    <ul 
    role="menu"
    x-show="open"
    @click.outside="open = false"
    x-transition
    x-cloak
    class="divide-y divide-slate-100 rounded-lg overflow-hidden py-1 absolute right-0 top-[calc(100%+.5rem)] min-w-[100px] bg-white border border-slate-100 shadow-md z-10 text-center">

        <div class="flex items-center justify-center gap-2 my-4 mx-2">
            <c-avatar textsize="text-base"></c-avatar>
            <p class="text-nowrap font-semibold tracking-tighter">
                {{ request.user.first_name }}
                {{ request.user.last_name }}
            </p>
        </div>

        <c-context-item>
            {% translate 'logout' %}
        </c-context-item>

    </ul>

</div>