<input
  @change="
    let isChecked = $event.target.checked;
    let rowsChecks = document
                    .querySelectorAll(
                    `td[id^='check'] input[type='checkbox']`
                    );
    rowsChecks.forEach(el => {
        el.checked = isChecked;
        let tdId = el.getAttribute('id');
        if (isChecked) selectedRows.push(tdId);
    });
    selectedRows = [...new Set(selectedRows)]
    if (!isChecked) selectedRows = [];
  "
  id="check-all"
  class="accent-orange-600"
  type="checkbox"
/>
