{% load i18n %}

<div class="flex items-center justify-between">

    <div class="flex items-center justify-between">
      {% if page_obj.has_previous %}
      <c-btns.icon
        hx-get="{{ url }}?page=1"
        hx-target="{{ target }}"
        hx-include="{{ include }}"
        hx-swap="outerHTML"
        title="{% translate 'first page'|title %}"
      >
        <c-icons.arrow-double-left ratio="1rem"></c-icons.arrow-double-left>
      </c-btns.icon>
      {% else %}
      <span class="text-xl p-1 opacity-45">
        <c-icons.arrow-double-left ratio="1rem"></c-icons.arrow-double-left>
      </span>
      {% endif %} 
      
      {% if page_obj.has_previous %}
      <c-btns.icon
        hx-get="{{ url }}?page={{ page_obj.previous_page_number }}"
        hx-target="{{ target }}"
        hx-include="{{ include }}"
        hx-swap="outerHTML"
        title="{% translate 'previous page'|title %}"
      >
        <c-icons.arrow-left ratio="1rem"></c-icons.arrow-left>
      </c-btns.icon>
      {% else %}
      <span class="text-xl p-1 opacity-45">
        <c-icons.arrow-left ratio="1rem"></c-icons.arrow-left>
      </span>
      {% endif %} 

      <!--  -->
      <div class="text-slate-600 text-sm font-semibold mx-2">
        <span>{{ page_obj.number }}</span>
        <span>/</span>
        <span>{{ page_obj.paginator.num_pages }}</span>
      </div>
      <!--  -->
      
      {% if page_obj.has_next %}
      <c-btns.icon
        hx-get="{{ url }}?page={{ page_obj.next_page_number }}"
        hx-target="{{ target }}"
        hx-include="{{ include }}"
        hx-swap="outerHTML"
        title="{% translate 'next page'|title %}"
      >
        <c-icons.arrow-right ratio="1rem"></c-icons.arrow-right>
      </c-btns.icon>
      {% else %}
      <span class="text-xl p-1 opacity-45">
        <c-icons.arrow-right ratio="1rem"></c-icons.arrow-right>
      </span>
      {% endif %} 
      {% if page_obj.has_next %}
      <c-btns.icon
        hx-get="{{ url }}?page={{ page_obj.paginator.num_pages }}"
        hx-target="{{ target }}"
        hx-include="{{ include }}"
        hx-swap="outerHTML"
        title="{% translate 'last page'|title %}"
      >
        <c-icons.arrow-double-right ratio="1rem"></c-icons.arrow-double-right>
      </c-btns.icon>
      {% else %}
      <span class="p-1 opacity-45">
        <c-icons.arrow-double-right ratio="1rem"></c-icons.arrow-double-right>
      </span>
      {% endif %}
    </div>

    <div class="flex items-center gap-1 justify-center">
      {{ slot }}
      <!--  -->
    </div>

    <div class="text-sm flex items-center justify-center gap-1 text-slate-600">

        <span>{% translate 'record' %}</span>
        <span>{{ page_obj.start_index }}</span>
        <span>-</span>
        <span>{{ page_obj.end_index }}</span>
        <span>{% translate 'of' %}</span>
        <span>{{ page_obj.paginator.count }}</span>

    </div>

</div>